<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="recover-container">
    <h1 class="title">Recuperación de Contraseña</h1>

    <form class="form-container" (submit)="recover(); $event.preventDefault()">
      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked">Email de verificación</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" placeholder=""></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button type="submit" expand="block" shape="round" class="send-button">
          Enviar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
