<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot-password" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="reset-container">
    <h1 class="title">Recuperación de Contraseña</h1>

    <form class="form-container" (submit)="resetPassword(); $event.preventDefault()">
      <div class="custom-input">
        <label>Codigo de verificación</label>
        <ion-input type="text" name="code" [(ngModel)]="code" placeholder=""></ion-input>
      </div>

      <div class="custom-input" style="margin-bottom: 5px;">
        <label>Nueva Contraseña</label>
        <div style="position: relative; width: 100%;">
          <ion-input [type]="showPassword ? 'text' : 'password'" name="newPassword" [(ngModel)]="newPassword" placeholder=""></ion-input>
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" (click)="showPassword = !showPassword" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 10; cursor: pointer; color: #1a5c96; font-size: 1.4rem;"></ion-icon>
        </div>
      </div>

      <div class="custom-input" style="margin-bottom: 5px;">
        <label>Confirmar Contraseña</label>
        <div style="position: relative; width: 100%;">
          <ion-input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder=""></ion-input>
          <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'" (click)="showConfirmPassword = !showConfirmPassword" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 10; cursor: pointer; color: #1a5c96; font-size: 1.4rem;"></ion-icon>
        </div>
      </div>

      <div class="button-container">
        <ion-button type="submit" expand="block" shape="round" class="send-button">
          Enviar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
